DEBUG=True
SERVER_IP=127.0.0.1
SECRET_KEY=123

DATABASE_URL=psql://postgres:postgres@127.0.0.1:5432/db_name
CORS_URLS=http://127.0.0.1

SIMPLE_JWT_ALGORITHM=HS256
SIMPLE_JWT_SIGNING_KEY=sign_key

ACCESS_TOKEN_LIFETIME_MINUTES=777
REFRESH_TOKEN_LIFETIME_DAYS=7